<h1>HOME</h1>



  <form action ={% url 'calci' %}>
    <div class="radio">
      <label><input type="radio" name="optradio" value ='+'>checked plus </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" value ='-'>checked minus</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio" value ='*'> checked multiply</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="optradio" value='/'>checked division</label>
      </div>
      <br>
      <input name ='field1'></input>
      <input name ='field2'></input>
      <button type="submit" class="btn btn-primary">submit</button>
  </form>

